/*common css code*/
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 85%;
  max-width: 1145px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
/* header section css */
header {
  background-color: #ffffff;
  padding-top: 24px;
}
/* nav section css style start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}
nav .menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
nav .btn {
  padding: 12px 16px;
  background-color: #30b868;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}
/* banner section css */
#banner {
  background-image: url(../assets/hero-bg.png);
}
#banner .banner-container {
  width: 85%;
  max-width: 1145px;
  margin: 0 auto;
  text-align: center;
  padding: 115px 120px 180px;
}
#banner .banner-container .banner-btn button {
  padding: 8px 12px;
  background-color: #ffffff;
  border: none;
  border-radius: 1000px;
  margin-bottom: 16px;
}
#banner .banner-container .banner-btn button i {
  color: #30b868;
}
#banner .banner-container h1 .top {
  color: #ffffff;
  font-size: 72px;
}
#banner .banner-container h1 .bottom {
  color: #30b868;
  font-size: 72px;
}
#banner .banner-container p {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  padding: 16px 0 32px;
}
#banner .banner-container .section-btn #btn1 {
  background-color: #30b868;
  padding: 12px 18px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 4px;
}
#banner .banner-container .section-btn #btn2 {
  background-color: transparent;
  padding: 12px 16px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-left: 16px;
}
/* note section css start */
#note {
  padding: 48px 0 0;
  background-color: #f6f6f6;
}
#note .note-container {
  text-align: center;
}
#note .note-container .section-heading h2 {
  font-size: 48px;
  padding-bottom: 16px;
  color: #001931;
}
#note .note-container .section-heading p {
  font-size: 16px;
  color: #627382;
  padding-bottom: 44px;
  line-height: 20px;
}
#note .note-container .note-info {
  display: flex;
  justify-content: center;
  gap: 24px;
}
#note .note-container .note-info .note-card {
  background: #ffffff;
  box-shadow: 0 0 8px 0 #00000000;
  border-radius: 8px;
  padding: 24px;
  text-align: center;
}
#note .note-container .note-info .note-card .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f95555;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px;
}
#note .note-container .note-info .note-card img {
  width: 32px;
}
#note .note-container .note-info .note-card h3 {
  font-size: 24px;
  padding: 16px;
  color: #001931;
}
#note .note-container .note-info .note-card p {
  font-size: 16px;
  color: #627382;
  padding-bottom: 22px;
}
/* solution section css start */
#solution {
  padding-top: 120px;
}
#solution .solution-container {
  display: flex;
  align-items: center;
  gap: 60px;
}
#solution .solution-container .solution-bg img {
  width: 600px;
}
#solution .solution-container .solution-content h4 {
  font-size: 16px;
  color: #30b868;
  line-height: 20px;
}
#solution .solution-container .solution-content h2 {
  font-size: 48px;
  color: #001931;
  padding: 16px 0;
}
#solution .solution-container .solution-content p {
  font-size: 16px;
  color: #627382;
  padding-bottom: 40px;
}
#solution .solution-container .solution-content ul {
  list-style-type: none;
  padding: 0;
}
#solution .solution-container .solution-content ul li {
  display: flex;
  gap: 6px;
  font-size: 16px;
  line-height: 20px;
  color: #001931;
}
#btm-footer {
  padding: 120px 0;
}
#btm-footer .section-container {
  text-align: center;
  background-color: #f7f6f2;
  border-radius: 12px;
}
#btm-footer .section-container h2 {
  font-size: 40px;
  padding-top: 80px;
  margin-bottom: 16px;
}
#btm-footer .section-container p {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  padding-bottom: 24px;
}
#btm-footer .section-container #bottom-btn {
  background-color: #30b868;
  padding: 16px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}
#btm-footer .section-container #free {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  padding: 16px 0 80px;
}
/* footer section css start */
footer {
  background-color: #001931;
  padding: 120px 120px 0;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social {
  text-align: right;
}
.footer-social h4 {
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  padding-bottom: 16px;
}
.footer-social .social-icons {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}
.footer-social .social-icons a {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
}
footer hr {
  margin: 80px auto 30px;
  border: none;
  height:1px;
  background-color:#414141;
}
footer .footer-bottom{
    text-align: center;
    font-size: 16px;
    color:#627382;
    padding-bottom: 30px;
}
